# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    'atom-text-editor': [
        label: 'Java Generator',
        submenu: [
            {
                'label': 'Getters and Setters'
                'command': 'java-generator:generate-getters-setters'
            },
            {
                'label': 'Constructor'
                'command': 'java-generator:generate-constructor'
            },
            {
                'label': 'toString'
                'command': 'java-generator:generate-to-string'
            },
            {
                'label': 'Builder'
                'command': 'java-generator:generate-builder'
            }
        ]
    ]

'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Java Generator'
            'submenu': [
                {
                    'label': 'Getters and Setters'
                    'command': 'java-generator:generate-getters-setters'
                },
                {
                    'label': 'Constructor'
                    'command': 'java-generator:generate-constructor'
                },
                {
                    'label': 'toString'
                    'command': 'java-generator:generate-to-string'
                },
                {
                    'label': 'Builder'
                    'command': 'java-generator:generate-builder'
                }
            ]
        ]
    }
]
